.chemmacrosSub + .chemmacrosSuperBack {
  margin-left: -.5em;
}

sub.chemmacrosSub, sup.chemmacrosSuperBack, sup.chemmacrosSuper {
  font-size: x-small;
}

sub.chemmacrosSub {
  position: relative;
  top: .5em;
}

sup.chemmacrosSuperBack, sup.chemmacrosSuper {
  position. relative;
  top: -0.75em;
}

.chemreaction {
  display: block;
  text-align: center;
}

.chemreactions {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
}

.eqnc0 {
  text-align: right;
  grid-column: 1 / 1;
}

.eqnc1 {
  text-align: left;
  grid-column: 2 / 2;
}

.eqnc2 {
  text-align: left;
  grid-column: 3 / 3;
}

.eqncounter {
  text-align: right;
  grid-column: 10 / 10;
}

.signalword {
  text-align: center;
  font-weight: bold;
}

.ghspicContainer {
  text-align: center;
}

.ghspics {
  text-align: center;
}

.ghspic {
  width: 2cm;
  background-color: white;
}

.hpstatements {
  display: grid;
  grid-template-columns: minmax(2em, 8em) auto;
}

.clpDT {
  grid-column: 1 / 1;
}

.clpDD {
  grid-column: 2 / 2;
}
